body {
  margin: 0;
  background-size: 10px 10px;
}
a {
  text-decoration: none;
}
.wrap {
  background-color: #e5c8bc;
  height: 100vh;
  width: 100%;
}
.header {
  background: rgba(102, 0, 0, 0.87);
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  width: 100%;
}
.logo {
  position: absolute;
  color: #e5c8bc;
  font-size: 24px;
  left: 40px;
}

nav ul {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  text-decoration: none;
  outline: none;
}

.topmenu {
  backface-visibility: hidden;
}

.topmenu > li {
  display: inline-block;
  position: relative;
}

.topmenu > li > a {
  font-family: "Exo 2", sans-serif;
  height: 70px;
  line-height: 70px;
  padding: 0 30px;
  font-weight: bold;
  color: white;
  transition: 0.4s ease-in-out;
}

.topmenu #paragraph:hover {
  background-color: rgba(51, 0, 0, 0.87);
}

h1,
h2,
p {
  font-family: "Exo 2", sans-serif;
  text-align: center;
  font-size: 16pt;
  margin-bottom: 0;
}

#product_1 {
  display: flex;
  margin: 50px 0 0 0;
  justify-content: space-around;
}

#product_2 {
  display: flex;
  margin: 50px 0 0 0;
  justify-content: space-around;
  margin-bottom: 30px;
}

.fruits {
  width: 250px;
  height: 300px;
  border: 1px solid black;
}

img {
  background-color: #e5c8bc;
  display: flex;
  margin: auto;
}

input {
  width: 35px;
  height: 23px;
}

button {
  width: 45px;
  height: 33px;
  background-color: rgb(196, 196, 196);
  border: 1px solid grey;
  border-radius: 7px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(128, 128, 128);
}

/* Admin page */
.admin-page {
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 40px 0;
  display: flex;
  width: 100%;
}

.table {
  border: 1px solid #999;
  border-collapse: collapse;
  margin: 20px 0;
  padding: 10px;
  width: 80%;
}
.table th {
  border: 1px solid #999;
  padding: 10px;
}
.table td {
  border: 1px solid #999;
  text-align: center;
  padding: 10px;
}
.table td:hover {
  background: #e4cbc0;
}
.table img {
  height: 30px;
  width: 30px;
}
.table .edit,
.table .delete {
  cursor: pointer;
}
.admin-page .btn {
  border: 1px solid #999;
  background: #ccc;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 0;
  width: 80%;
}
.admin-page .btn:hover {
  border: 1px solid #fff;
  background: #55f72c;
}
.admin-page .form {
  border: 1px solid #999;
  background: #e4d4cd;
  height: 400px;
  z-index: 10;
  width: 40%;
}
/*  */
